{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Lycée Scientifique d'Excellence de Diourbel</title>
<link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
        color: white;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

</head>

<body>
  {% include "school/navbar.html" %}

  {%block content%}

  {%endblock content%}
  {% include "school/footer.html" %}
</body>

</html>
